# This is Git's per-user configuration file.
[user]
	name = samsal2
	email = samsal9681@gmail.com

[init]
  templatedir = ~/.git_template

# Please adapt and uncomment the following lines:
#	name = samsal2
#	email = samsal9681@gmail.com
